<!DOCTYPE html>
<html>
<head>
<title>Risk Map</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"><link rel="stylesheet" href="../static/css/risk_map.css">
</head>
<body>
<div id="mapid"></div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcfxhUYqFIGoYyoeN7Dq4bDjFj01VU4y8&callback=initializeMap"></script>
<script src = "static/js/risk_map.js"></script>
<script>
	var geojson = {{ data|safe }};
	initializeMap(geojson);
</script>
</body>
</html>